@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* added for smooth hover popups etc */
  transition: 0.3s;
}

.bgImage {
  background: url(../assets/bg.png) fixed no-repeat;
  background-size: cover;
}

/* OTP */
.spin-button-none::-webkit-inner-spin-button,
.spin-button-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
